@charset "UTF-8";

.h1a{
	text-align: center;
	background-color: powderblue;
}
.h1info{
	text-align: center;
	background-color: pink;
}
.h1like{
	text-align: center;
	background-color: #ffff80;
}
.h1hate{
	text-align: center;
	background-color: #ff8040;
}